<div class="error_404">
    <h1>Erro 404</h1>
    <h3>Página não encontrada</h3>
    <br>
    <hr><!--linha horizontal-->
    <div class="container aling-itens-center">
        <a href="/user/home" class="btn btn-primary aling-itens-center">Home</a>
    </div>
    
</div>