<!-- Cabeçalho da Página -->
    <header class="container" id="header">
        <div class="row" id="logo-container">
            <img src="/imagens/pessoas-32px.png" class="rounded p-3" alt="..."> <!-- Inclui uma imagem -->
            <h1>Sumi</h1> <!-- Título do site -->
        </div>
        <p> A rede social dos sumidos</p> <!-- Subtítulo ou descrição do site -->
    </header>

    <!-- Navegação -->
    <nav class="container" id="navbar">
        <div class="row justify-content-center">
            <a href="/user/home">Home</a> <!-- Links de navegação -->
            <a href="/a">Feed</a>
            <a href="/c" class="m-r-4">Amigos</a>
            <a href="/">Sair</a>
        </div>
    </nav>

    <!-- Descrição do Site -->
    <div id="descricao" class="text-justify p-4">
        <h1 class="text-center">Nossa História</h1> <!-- Título da descrição -->
        <!-- Texto descritivo sobre a rede social Sumi -->
        Sumi é a rede social perfeita para todos aqueles que adoram a privacidade e o mistério. Com o tema "A rede social dos sumidos", Sumi é o lugar onde você pode ser você mesmo sem revelar todos os detalhes da sua vida.<br>
        Imagine um lugar onde você pode compartilhar pensamentos, experiências e memórias, mas de uma forma mais sutil e intrigante. Em Sumi, os usuários se conectam anonimamente, usando apelidos ou avatares enigmáticos, permitindo que sua verdadeira identidade permaneça um mistério para os outros.<br>
        Nossa plataforma oferece uma experiência única, onde você pode criar postagens intrigantes, compartilhar histórias emocionantes e participar de conversas cativantes, tudo enquanto mantém sua privacidade intacta. Não é necessário revelar seu nome real, idade ou qualquer informação pessoal que você não deseje compartilhar.<br>
        Sumi é o lugar onde você pode se expressar livremente, explorar tópicos interessantes e conhecer pessoas que compartilham seus interesses, tudo isso sem o peso da exposição excessiva. É a rede social perfeita para aqueles que gostam de se manter um pouco "sumidos" enquanto ainda se conectam com o mundo. Bem-vindo à comunidade Sumi, onde o mistério encontra a liberdade.<br>        <!-- Mais texto descritivo... -->
    </div>

    <!-- Rodapé da Página -->
    <footer class="container">
        <p class="secondary-color text-center">Todos os direitos reservados</p> <!-- Direitos autorais -->
        <p class="secondary-color text-center">Sumi copyright 2023</p> <!-- Informação de copyright -->
    </footer>

   